<mtapp:setting
  id="bitly_username"
  label="Bit.ly username"
  hint=""
  show_hint="1">
    <input type="text" name="bitly_username" id="bitly_username" value="<mt:var name="bitly_username">"/>
</mtapp:setting>

<mtapp:setting
  id="bitly_key"
  label="Bit.ly key"
  hint=""
  show_hint="1">
    <input type="text" name="bitly_key" id="bitly_key" value="<mt:var name="bitly_key">"/>
</mtapp:setting>
